@import "reset";
@import "constants";


.portable_editor{
  border: 1px solid #e7e7eb;
  width: 50%;
  height: 580px;
  margin-left: 350px;
  background-color: rgba(241,242,248,1);
  visibility: hidden;
  //visibility: visible;
}


.portable_editor{

  position: relative;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: 1px solid #e7e7eb;
  display: inline-block;
  margin-top: 0px;
  margin-left: 20px;
  text-align: left;
}

.portable_header{
  color: black;
  padding: 10px;
  font-size: 15px;
  width: auto;
  border-bottom: 1px solid #e7e7eb;
  text-align: left;
}
.portable_header_left{
  margin-left: 30px;
}
.portable_header_right{
  color: #5b67ff;
  float: right;
  margin-right: 30px;
}


.muneNameDiv{
  margin-top: 20px;
  padding: 5px 40px;
}

.commentLabel{
  color: black;
  font-size: 15px;
  height: 40px;
  width: 100px;
}

.commentInput{
  margin-left: 60px;
  width: 200px;
  height: 30px;
  color: black;
  font-size: 15px;
}

.concreteInnerURLLabel{
  .commentLabel
}

.concreteInnerURLInput{
  .commentInput
}



.muneTipDiv{
  margin-top: 10px;
  color: gray;
  margin-left: 135px;
  font-size: 13px;
}



.muneContentDiv{
  height: 60px;
}

.muneContentTitle{
  float: left;
  font-size: 15px;
  margin-left: 40px;
  margin-top: 40px;
}


.start-radio, .close-radio {
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

.radio {
  float: left;
}

.radioChose {
  font-size: 15px;
  float: left;
  margin-left: 30px;
}


.concreteInnerMessageDiv{
  border: 1px solid #e7e7eb;
  margin: 10px 40px;
  height: 60%;
  background-color: white;
}

.concreteInnerMessageTitleDiv{

  padding: 10px 20px;
  border-bottom: 1px solid #e7e7eb;
}

.concreteInnerMessageTitle{
  font-size: 15px;
}

.concreteInnerMessageContent{
  border: 2px dotted #d9dadc;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;
}

.PickerContentImage{
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

.PickerContentButton{
  font-size: 13px;
  margin-top: 5px;
  color: gray;
}


.concreteInnerURLDiv{
  border: 1px solid #e7e7eb;
  margin: 10px 40px;
  height: 30%;
  background-color: white;
}

.concreteInnerURLTitle{
  font-size: 15px;
  padding: 10px 20px;
}

.concreteInnerURLContent{
  margin-top: 30px;
  margin-left: 20px;
}

.bottomBtnDiv{
  margin-top: 30px;
  margin-bottom: 50px;
}

.saveAndPublishBtn{
  padding: 10px 25px;
  font-size: 15px;
  background-color: #44b549;
  color: white;
  border-radius: 5px;
  //visibility: hidden;
}

.selectedPickerContentContiner{
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
  width: 80%;
  height: 40px;
  line-height: 40px;
  //background-color: #fff8e7;
  font-size: 15px;
  display: none;
  text-align: center;
}


.selectedPickerContentLabel{
  display: inline-block;
}

.selectedPickerContentInner{
  margin-left: 10px;
  display: inline-block;
  width: 60%;
  border-radius: 4px;
  height: 40px;
  border: 1px solid #bfbfbf;
  text-align: center;
}

.deletePickerContentBtn{
  text-align: center;
  border-radius: 4px;
  background-color:#3f52d6;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
  margin-top: 50px;
  width: 30%;
  height: 30px;
  line-height: 30px;
  margin-left: 36%;
}