<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voucher.manage.mapper.WeiXinMapper">
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true" />
	<resultMap id="BaseResultMap" type="com.voucher.manage.model.WeiXin">
	 <id column="campus_id" property="campusId" jdbcType="INTEGER" />
	 <result column="campus_name" property="campusName" jdbcType="VARCHAR" />
	 <result column="company_name" property="companyName" jdbcType="VARCHAR" />
	 <result column="city_id" property="cityId" jdbcType="INTEGER" />
	 <result column="custom_service" property="customService" jdbcType="VARCHAR" />
	 <result column="home_page" property="homePage" jdbcType="VARCHAR" />
	 <result column="user_name" property="userName" jdbcType="VARCHAR" />
	 <result column="app_id" property="appId" jdbcType="VARCHAR" />
	 <result column="app_secret" property="appSecret" jdbcType="VARCHAR" />
	 <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
	 <result column="api" property="api" jdbcType="VARCHAR" />
	 <result column="token" property="token" jdbcType="VARCHAR" />
	 <result column="access_token" property="accessToken" jdbcType="VARCHAR" />
	 <result column="uid" property="uid" jdbcType="VARCHAR" />
	 <result column="uid_key" property="uidKey" jdbcType="VARCHAR" />
	 <result column="url" property="url" jdbcType="VARCHAR" />
	 <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	

    <select id="getAccessToken" resultMap="BaseResultMap">
      select
       access_token,create_time
      from
      campus
      where
      campus_id=#{campusId,jdbcType=INTEGER}      
    </select>

    <select id="getAllCampus" resultMap="BaseResultMap">
     select
        campus_id,campus_name,company_name,city_id,
        custom_service,home_page,
        user_name,
        app_id,app_secret,mch_id,api,
        token,
        access_token,
        create_time,
        uid,
        uid_key
      from
      campus
      where
      city_id=#{cityId,jdbcType=INTEGER} 
    </select>

     <select id="getCampus" resultMap="BaseResultMap">
     select
        campus_id,campus_name,company_name,city_id,
        custom_service,home_page,
        user_name,
        app_id,app_secret,mch_id,api,
        token,
        access_token,
        create_time,
        uid,
        uid_key
      from
      campus
      where
      campus_id=#{campusId,jdbcType=INTEGER}  
    </select>


   <select id="getByCampusId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select campus_id
     from campus 
     where
     campus_id=#{campusId,jdbcType=INTEGER} 
   </select>


    <insert id="insertCampus" parameterType="com.voucher.manage.model.WeiXin">
      insert into campus
		<trim prefix="(" suffix=")" suffixOverrides=",">
				campus_name,
                city_id,
                
            <if test="companyName !=null">
				company_name,
			</if>
			<if test="customService !=null">
				custom_service,
			</if>
			<if test="userName !=null">
				user_name,
			</if>
			<if test="appId !=null">
				app_id,
			</if>
			<if test="appSecret !=null">
				app_secret,
			</if>
			<if test="mchId != null">
				mch_id,
			</if>
			<if test="api != null">
				api,
			</if>
			<if test="token !=null">
				token,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="uidKey != null">
				uid_key,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				#{campusName,jdbcType=VARCHAR},
				#{cityId,jdbcType=INTEGER},
			<if test="companyName !=null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="customService!=null">
				#{customService,jdbcType=VARCHAR},
			</if>
			<if test="userName!=null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="appId!=null">
				#{appId,jdbcType=VARCHAR},
			</if>
			<if test="appSecret!=null">
				#{appSecret,jdbcType=VARCHAR},
			</if>
			<if test="mchId !=null">
				#{mchId,jdbcType=VARCHAR},
			</if>
			<if test="api !=null">
				#{api,jdbcType=VARCHAR},
			</if>
			<if test="token!=null">
				#{token,jdbcType=VARCHAR},
			</if>
			<if test="uid!=null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="uidKey!=null">
				#{uidKey,jdbcType=VARCHAR},
			</if>
		</trim>
    </insert>
    
    <update id="updateCampus" parameterType="com.voucher.manage.model.WeiXin">
		update campus
		<set>
		  <if test="campusName!=null">
			 campus_name=#{campusName,jdbcType=VARCHAR},
			</if>	
			<if test="companyName!=null">
			 company_name=#{companyName,jdbcType=VARCHAR},
			</if>		
		   <if test="customService!=null">
			 custom_service=#{customService,jdbcType=VARCHAR},
			</if>
			<if test="userName!=null">
			  user_name=#{userName,jdbcType=VARCHAR},
			</if>
			<if test="appId!=null">
			 app_id=#{appId,jdbcType=VARCHAR},
			</if>
			<if test="appSecret!=null">
			 app_secret=#{appSecret,jdbcType=VARCHAR},
			</if>
			<if test="mchId!=null">
			 mch_id =#{mchId,jdbcType=VARCHAR},
			</if>
			<if test="api!=null">
			 api =#{api,jdbcType=VARCHAR},
			</if>
			<if test="accessToken!=null">
			 access_token=#{accessToken,jdbcType=VARCHAR},
			</if>
			<if test="createTime!=null">
			 create_time=#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="token!=null">
			 token=#{token,jdbcType=VARCHAR},
			</if>
			<if test="uid!=null">
			 uid=#{uid,jdbcType=VARCHAR},
			</if>
			<if test="uidKey!=null">
			 uid_key=#{uidKey,jdbcType=VARCHAR},
			</if>			
		</set>
        where 
        campus_id=#{campusId,jdbcType=INTEGER} 
     </update>
    
    <update id="updateHomePageByCampusId" parameterType="com.voucher.manage.model.WeiXin">
    update campus
     <set>
      home_page=#{homePage,jdbcType=VARCHAR}
     </set>
     where
      campus_id=#{campusId,jdbcType=INTEGER} 
    </update>
    
    <select id="getCampusIdByUserName" resultType="Integer" useCache="false">
     select campus_id 
     from
      campus
     where
      user_name=#{userName,jdbcType=VARCHAR}
    </select>
    
    <select id="getCompanyName" resultType="String">
		select
		company_name
		from campus
		where campus_id=#{campusId,jdbcType=INTEGER}
	</select>
	
	<select id="getWeiXinByCampusId" resultMap="BaseResultMap" parameterType="int">
		select * from campus where campus_id = #{campusId,jdbcType=INTEGER}
	</select>
    
</mapper>
